.sumir{
	position:absolute;
	left:-99em;
	opacity:0;
}
header{
	background:#fbfcfc;
	padding-top:1em;
}

header ul li a{
	color:#555 !important;
	text-indent:1em;
	background:url('../imagens/arrowLeft@1x.png') no-repeat;
	background-position:.8em 50%;
	background-size:.6em;
}
header figure{
	position:relative;
	top:1em; 
	width:80%;max-width:15em;

	margin:0 auto 3em;
}
header figure img{
	width:100%;
}
header p{
	top:.5em;
	color:#555;
	font-size:1.1em;
}	

div.paiBloc{
	position:relative;
	top:2em;

	width:98%;max-width:25em;
	padding:.5em 0 2em;
	margin:0 auto;
}
div.paiBloc > div:first-of-type{
	width:100%;
	border-bottom:solid #bdc3c7 2px;
	margin:0 auto 1.3em;
}
div.paiBloc > div:first-of-type ul li a{
	color:#888;
	font-size:1.5em;
	font-weight:600;
	text-align:center;
	padding:0;
	margin-bottom:.2em;
}
div.paiBloc > div:first-of-type figure{
	position:relative;
	top:0;

	width:95%;
	height:9em;
	margin:0 auto;
	display:block;
}
div.paiBloc > div:first-of-type figure img{
	width:100%;
	height:9em;
}
div.paiBloc > div:first-of-type p{
	top:1em;
	font-size:1em;
	color:#555;
}
div.paiBloc > div:first-of-type > p:first-of-type{
	color:#f39c12;
	font-weight:600;
	font-size:1.4em;
    font-family:"Roboto Slab","arial";
}

div.paiBloc > div:first-of-type > p:nth-of-type(2){
	margin:1em auto;
	
}

div.paiBloc > div:first-of-type strong{
	color:#444;
	font-weight:600;
}
div.paiBloc > div:first-of-type ul.imp{
	overflow:visible;
	margin-bottom:3em;
}
div.paiBloc > div:first-of-type ul.imp li a{
	top:1.2em;

	width:9em;
	height:2.2em;

	color:#fff;
	font-size:1.2em;

	background:#3498db;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

	-moz-box-shadow:0 4px 0 #2980b9;
	-webkit-box-shadow:0 4px 0 #2980b9;
	box-shadow:0 4px 0 #2980b9;

	display:block;
	margin:1em auto;
	padding:.5em 0;
}
div.paiBloc > div:first-of-type ul.imp li a:hover,
div.paiBloc > div:first-of-type ul.imp li a:focus{
	background:#58ACE3;
}
div.paiBloc > div:nth-of-type(2){
	position:relative;
	top:0;

	width:90%;max-width:40em;
	margin:0 auto 2em;
}
div.paiBloc > div:nth-of-type(2) p{
	font-size:1.3em;
	font-weight:600;
    font-family:"Roboto Slab","arial";

	color:#777;
	text-align:left;
	margin:0 auto;
}	
div.paiBloc > div:nth-of-type(2) p strong{
	position:relative;
	top:.5em;
	font-size:.8em;
	font-weight:500;

	color:#555;
	display:block;
	text-align:left;
}
div.paiBloc > div:nth-of-type(3){
	position:relative;
	top:0;

	width:90%;max-width:40em;

	margin:0 auto;
	margin-top:.5em;
}
div.paiBloc > div:nth-of-type(3) p{
	color:#666;
	text-align:left;
	font-size:1.3em;
	font-weight:600;
	margin-bottom:.5em;
}
div.paiBloc > div:nth-of-type(3) p strong{
	font-size:.7em;
	color:#888;
	display:block;
}

div.paiBloc > div:last-of-type{
	position:relative;
	top:0;
	width:95%;
	padding:1em .5em 0 ;

	margin:0 auto 1em;
}
div.paiBloc > div:last-of-type h3{
	font-size:1.3em;
	text-align:left;
	color:#666;
	margin-bottom:.2em;
}
div.paiBloc > div:last-of-type p{
	color:#555;
	font-size:1em;
	text-align:left;
	margin-bottom:.5em;
}
div.paiBloc > div:last-of-type ul{
	margin:2em 0;
	overflow:visible;
}
div.paiBloc > div:last-of-type ul li a{
	width:11em;
	height:2.5em;
	color:#2980b9;

	text-indent:0;
	text-align:center;

	color:#fff;
	padding:.7em 0;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

	-moz-box-shadow:0 5px 0 #27ae60;
	-webkit-box-shadow:0 5px 0 #27ae60;
	box-shadow:0 5px 0 #27ae60;
	
	display:block;
	margin:0 auto;

	background:#2ecc71;
}
div.paiBloc > div:last-of-type ul li a:hover,
div.paiBloc > div:last-of-type ul li a:focus{
	background:#51D88C;
}

/*div mensagem*/
div.jaFoi{
   position:relative;
   top:22em;

   width:100%;max-width:35em;

   -moz-border-radius:5px;
   -webkit-border-radius:5px;
   border-radius:5px;

   -moz-box-shadow:5px 5px 15px rgba(0,0,0,.3);
   -webkit-box-shadow:5px 5px 15px rgba(0,0,0,.3);
   box-shadow:5px 5px 15px rgba(0,0,0,.3);

   background:#fff;

   margin:0 auto -16.5em;

   padding:2em 0;
   z-index:30;
}
div.jaFoi p{
   width:80%;
   color:#999;
   font-size:1.3em; 

   margin:0 auto;
}
div.jaFoi p:last-of-type{
  margin:1em auto;
  color:#f39c12;
  font-family:"Roboto Slab","arial";
  font-weight:600;
}
div.jaFoi ul{
  overflow:visible;
}
div.jaFoi ul li a{
	width:11em;
	height:2.5em;

	color:#fff;
	text-align:center;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

	-moz-box-shadow: 0 5px 0 #27ae60;
	-webkit-box-shadow: 0 5px 0 #27ae60;
	box-shadow: 0 5px 0 #27ae60;

	background:#2ecc71;

	margin:0 auto 1em;
	display:block;

	padding:.7em 0 0;
}
div.jaFoi ul li:last-of-type a{
	background:#f39c12; 

	-moz-box-shadow: 0 5px 0 #e67e22;
	-webkit-box-shadow: 0 5px 0 #e67e22;
	box-shadow: 0 5px 0 #e67e22;
}
div.jaFoi ul li:last-of-type a:hover,
div.jaFoi ul li:last-of-type a:focus{
	background:#f1c40f;
}
div.jaFoi ul li a:hover,
div.jaFoi ul li a:focus{
	background:#51D88C;
}

div.fundo{
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;

	background:rgba(52, 152, 219,.3);

	z-index:28;

	display:none;
}
/*breackPoint*/
@media screen and (min-width:500px){
	/*div mensagem*/
	div.jaFoi{
  	  top:9em;
    }

	div.paiBloc > div:first-of-type{
		padding-bottom:.5em;
	}
	div.paiBloc > div:first-of-type ul li a{
		text-align:left;
		text-indent:0;
		padding:.5em 0 0 .4em;
	}
	div.paiBloc > div:first-of-type figure{
		float:left;
		width:10em;
		height:5.5em;
		margin-left:.7em;
		display:block;
	}
	div.paiBloc > div:first-of-type figure img{
		height:5.5em;
	}
	div.paiBloc > div:first-of-type p:first-of-type{
		top:0;
		width:50%;
	    display:inline-block;
		text-indent:.5em;
		font-size:1.1em;
	}
	div.paiBloc > div:first-of-type p:nth-of-type(2){
		display:block;
		text-align:left;
		padding-left:.5em;
		clear:left;
		margin-bottom:0;

	}
	div.paiBloc > div:first-of-type p:nth-of-type(3),
	div.paiBloc > div:first-of-type p:nth-of-type(4){
		display:inline-block;
		margin-left:.5em;
	}
	div.paiBloc > div:first-of-type ul.imp li a{
		margin:1em 0 .5em .5em;
		text-align:center;
	}

	div.paiBloc > div:nth-of-type(2),
	div.paiBloc > div:nth-of-type(3),
	div.paiBloc > div:last-of-type{
		width:100%;
	}
	div.paiBloc > div:last-of-type ul li a{
		margin:0;
	}
}
@media screen and (min-width:700px){

	div.paiBloc{
		width:98%;max-width:40em;
	}
	div.paiBloc > div:first-of-type ul li a{
		top:.3em;
	}
	div.paiBloc > div:first-of-type p:first-of-type{
		font-size:1.3em;
		text-align:left;
		padding-left:.5em;
	}
	div.paiBloc > div:nth-of-type(2),
	div.paiBloc > div:nth-of-type(3),
	div.paiBloc > div:nth-of-type(4){
		max-width:30em;
		margin:.5em 0 1em;
	}
}

